.my-list-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
}

.my-list-container-title {
    position: fixed;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0;
    min-height: 0;
    padding: 0;
    background-color: #141414 !important;
    /*width: -webkit-fill-available;*/
    z-index: 3;
}

.my-list-wrapper-title {
    margin-top: 70px;
    height: 68px;
    align-items: center;
    display: flex;
    left: 0;
    padding: 0 3rem;
    position: fixed;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1;
    background-color: #141414 !important;
    color: #fff;
}

.my-list-container-title h1 {
    font-size: 2rem;
    display: inline-block;
    line-height: 36px;
    margin-right: 20px;
    color: #fff;
    font-weight: 400;
}

.my-list-movies {
    margin-top: 138px;
    padding-top: 5rem;
    /*min-height: 1000px;*/
    /*overflow: hidden;*/
    z-index: 0;
}

.my-list-movie-container {
    font-size: calc(1.125vw);
    display: inline-block;
    min-height: 65px;
    width: 100%;
}

.my-list-movie-wrapper {
    margin: 10px 3rem;
    overflow: hidden;
    /*line-height: 1.6;*/
    display: grid;
    gap: 4vw 0;
    grid-template-columns: repeat(6, 1fr);
}

.my-list-movie {
    padding: 0 0.2vw;
}

.my-list-movie-img {
    width: 100%;
    height: 100%;
}

.poster {
    width: 100%;
    height: 100%;
}

.galleryMessage {
    color: #666;
    font-size: 18px;
    padding-top: 100px;
    text-align: center;
}

.ltr-1cjyscz:first-child {
    padding-left: 0;
}

.ltr-1cjyscz {
    padding: 0 0.2vw;
}

.title-card:not(.loadingTitle) {
    display: block;
}

.title-card {
    position: relative;
    z-index: 1;
}

.title-card .slider-refocus {
    display: block;
}

.boxart-size-16x9, .boxart-size-32x9 {
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.boxart-size-16x9 {
    padding: 28.125% 0;
}

.boxart-rounded {
    border-radius: .2vw;
}

.title-card .boxart-container img {
    cursor: pointer;
}

.boxart-image-in-padded-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

img {
    border: 0;
}

.boxart-rounded .fallback-text-container {
    border-radius: 4px;
}

.fallback-text-container {
    background-color: #222;
    background-image: linear-gradient(transparent,#000);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}

.fallback-text {
    bottom: 0;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: 500;
    left: 8%;
    margin: 0;
    overflow: hidden;
    padding: 0 0 10%;
    position: absolute;
    right: 8%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 1500px) {
    .my-list-movie-wrapper {
        margin: 10px 60px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {
    .my-list-movie-wrapper {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 4.5vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .my-list-movie-wrapper {
        grid-template-columns: repeat(4, 1fr);
        /*margin-left: 0;*/
        row-gap: 5.5vw;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .my-list-movie-wrapper {
        grid-template-columns: repeat(3, 1fr);
        /*margin-left: 0;*/
        row-gap: 7.5vw;
    }
}

@media screen and (max-width: 500px) {
    .my-list-movie-wrapper {
        grid-template-columns: repeat(2, 1fr);
        /*margin-left: 0;*/
        row-gap: 7.5vw;
    }
}