.my-list-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
}

.my-list-container-title {
    position: fixed;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0;
    min-height: 0;
    padding: 0;
    background-color: #141414 !important;
    /*width: -webkit-fill-available;*/
    z-index: 3;
}

.my-list-wrapper-title {
    margin-top: 70px;
    height: 68px;
    align-items: center;
    display: flex;
    left: 0;
    padding: 0 3rem;
    position: fixed;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1;
    background-color: #141414 !important;
    color: #fff;
}

.my-list-container-title h1 {
    font-size: 2rem;
    display: inline-block;
    line-height: 36px;
    margin-right: 20px;
    color: #fff;
    font-weight: 400;
}

.my-list-movies {
    margin-top: 138px;
    padding-top: 5rem;
    /*min-height: 1000px;*/
    /*overflow: hidden;*/
    z-index: 0;
}

.my-list-movie-container {
    font-size: calc(1.125vw);
    display: inline-block;
    min-height: 65px;
    width: 100%;
}

.my-list-movie-wrapper {
    margin: 10px 3rem;
    overflow: hidden;
    /*line-height: 1.6;*/
    display: grid;
    gap: 4vw 0;
    grid-template-columns: repeat(6, 1fr);
}

.my-list-movie {
    padding: 0 0.2vw;
}

.my-list-movie-img {
    width: 100%;
    height: 100%;
}

.poster {
    width: 100%;
    height: 100%;
}