.carousel-container {
    /*margin-right: 60px!important;*/
}

.filler{
    background-color: #131313;
    width: 50px;
    height: 151.2px;
    position: absolute;
    z-index: 5000;
}

.react-multi-carousel-item {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    flex: none !important;
}

.react-multi-carousel-list {
    width: auto;
    position: relative;
    touch-action: pan-y;
}

.movie-carousel-div {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.movie-carousel-div img{
    /*overflow: hidden;*/
    /*display: flex;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*right: 0;*/
    /*top: 0;*/
    width: 100%;
}

.carousel-item {
    padding: 0 2px;
}

.react-multi-carousel-list:hover .react-multiple-carousel__arrow--right {
    opacity: 1;
}

.react-multiple-carousel__arrow--right {
    right: 0;
    min-height: 100%;
    min-width: 52px;
    background: hsla(0,0%,8%,.5);
    cursor: pointer;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.react-multiple-carousel__arrow--right::before {
    font-size: 30px;
}

.react-multiple-carousel__arrow--right:hover {
    background: hsla(0,0%,8%,.7);
}

.react-multi-carousel-list:hover .react-multiple-carousel__arrow--left {
    opacity: 1;
}

.react-multiple-carousel__arrow--left {
    left: 0;
    min-height: 100%;
    min-width: 52px;
    background: hsla(0,0%,8%,.5);
    cursor: pointer;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.react-multiple-carousel__arrow--left:hover {
    background: hsla(0,0%,8%,.7);
}

.react-multiple-carousel__arrow--left::before {
    font-size: 30px;
}
