.account-container {
    margin: 20px 30px 0;
    height: 100vh;
}

.account-center {
    font-size: 1em;
    max-width: 1024px;
    width: 95%;
    color: #333;
    display: block;
    margin: 0 auto;
    min-height: 400px;
    min-width: 300px;
    overflow-wrap: anywhere;
    position: relative;
}