.profiles-container {
    background: #141414;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
    font-size: .75vw;
}

.list-profiles {
    animation: animateProfileGate .45s forwards;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.profiles {
    max-width: 80%;
}

.profiles h1 {
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    width: 100%;
    opacity: 1;
    transition: opacity .4s ease-out;
    margin: .67em 0;
    text-align: center;
}

.choose-profile {
    margin: 2em 0;
    opacity: 1;
    transition: opacity .4s ease-out;
    padding: 0;
}

.profile-wrapper {
    margin: 0 2vw 0 0;
    max-width: 200px;
    min-width: 84px;
    width: 10vw;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 1.3vw;
}

.profiles a {
    text-decoration: none;
    color: grey;
}

.profile-icon {
    background-color: #333;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 10vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    width: 10vw;
}

.profile-icon::after {
    border: .18em solid transparent;
    border-radius: 4px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.profileImg {
    display: flex;
    border: none;
    border-radius: 4px;
    height: 100%;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    width: 100%;
}

.profiles span {
    display: block;
    font-size: 1.3vw;
    line-height: 1.2em;
    margin: .6em 0;
    min-height: 1.8em;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.manage-profile-button {
    text-align: center;
    letter-spacing: 0 !important;
}

.manage-profile-button a {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin: 2em 0 1em;
    padding: .5em 1.5em;
    text-decoration: none;
}

.manage-profile-button a:hover {
    border: 1px solid #fff;
    color:#fff;
}

.profile-wrapper a:hover .profile-icon:after {
    border-color: #fff
}

.profile-wrapper a:hover span {
    color: #e5e5e5;
}

.profile-icon.add {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-wrapper:hover .add {
    background-color: #fff;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: grey;
    border-radius: 50%;
}

.addIcon svg {
    width: 60%;
    height: 60%;
}

.kid-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
    height: 15%;
    width: 27%;
    margin-bottom: 7px;
    margin-right: 7px;
}

.profile-nav {
    background-color: #141414;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    height: 6.5%;
}