.radio-panel-group {
    display: flex;
    flex-direction: column;
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.choose-plan__plan--checked {
    border-color: #077af5 !important;
}

.choose-plan__plan {
    background: #fff;
    border: 4px solid #ccc;
    border-radius: 2px;
    margin-bottom: 13px;
    padding: 0;
    position: relative;
    min-height: 108px;
    width: 100%;
}

.choose-plan__plan:hover {
    border-color: #077af5;
    cursor: pointer;
}

.radio-panel__label {
    display: flex;
    flex-direction: row;
    position: relative;
}

.choose-plan__plan-name, .choose-plan__plan--checked .choose-plan__plan-name {
    background: #ccc;
}

.choose-plan__plan-name {
    height: 104px;
    padding: .75em 1.6em;
    justify-content: center;
    text-align: center;
}

.choose-plan__plan-name {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: .75em 1.6em;
    background: #f3f3f3;
    font-size: 12px;
    width: 150px;
}

.plan-name__prefix {
    font-size: 12px;
    margin-bottom: .5em;
    white-space: normal;
    font-weight: 700;
}

.plan-name__name {
    font-size: 15px;
    font-weight: 700;
}

.choose-plan__description {
    padding-left: 16px;
}

.choose-plan__description {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 12px 16px 12px 20px;
}

.selected-indicator {
    background-position: -12px -319px;
    border-radius: 1.3em;
    height: 2.6em;
    left: -1.3em;
    margin-top: -1.3em;
    width: 2.6em;
}

.selected-indicator {
    background: #077af5;
    background-image: url(https://assets.nflxext.com/en_us/Account/sprite_icons_MyAcct_63x205_v2.png);
    background-position: -17px -325px;
    border-radius: 1em;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    height: 2em;
    left: -1em;
    margin-top: -1em;
    position: absolute;
    text-indent: -999em;
    top: 50%;
    width: 2em;
    z-index: 2;
}

.btn-bar.btn-bar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-bar {
    box-sizing: border-box;
    padding: 1em 0;
}

.btn-bar-center .btn {
    margin-left: .5em;
    margin-right: .5em;
}

.btn.btn-small {
    font-size: 13px;
    line-height: 1em;
    margin-right: .5em;
    min-height: 37px;
    min-width: 98px;
    padding: 12px 1em;
    width: auto;
}

.btn-gray {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg,#e6e6e6,#ddd);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    color: #000;
}

.btn {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg,#e6e6e6,#ddd);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
}

.btn-bar .btn-blue {
    color: #fff;
    background-color: #0080ff;
    background-image: linear-gradient(180deg,#0080ff,#0272e2);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3),0 1px 0 rgba(0,0,0,.55);
    border: none !important;
    font-size: 13px;
    line-height: 1em;
    margin-right: .5em;
    min-height: 37px;
    min-width: 98px;
    padding: 12px 1em;
    width: auto;
    border-radius: 0;
}

.btn-bar .btn-blue:disabled {
    color: #fff;
    background-color: rgba(0, 128, 255, 0.51);
    background-image: none;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3),0 1px 0 rgba(0, 0, 0, 0.23);
    border: none !important;
    font-size: 13px;
    line-height: 1em;
    margin-right: .5em;
    min-height: 37px;
    min-width: 98px;
    padding: 12px 1em;
    width: auto;
    border-radius: 0;
}

.terms-of-use {
    font-size: .75em;
    margin: 0 2px;
    padding: 10px 0 20px;
}

.confirm-modal {
    background-color: #fff;
    color: inherit;
    font-size: .9em;
    margin: 29% auto 0;
    max-width: 640px;
    min-height: 200px;
    overflow: visible;
    padding-bottom: 20px;
    text-align: left;
}

.confirm-head {
    margin-bottom: 10px;
    position: relative;
}

.confirm-content, .confirm-foot, .confirm-head {
    padding: 6px 20px;
}

.confirm-head h1 {
    color: inherit;
    font-weight: 400;
    margin: 10px 20px 0 0;
    padding: 0;
}

.confirm-close {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 30px;
}

.confirm-close::before {
    color: #666;
    content: "\00D7";
    font-size: 40px;
}

.confirm-foot, .confirm-head {
    min-height: 18px;
}

.confirm-content {
    padding-left: 0;
    padding-right: 0;
}

/*.confirm-content {*/
/*    padding: 6px 20px 5px;*/
/*}*/

ul.structural {
    margin: 0;
    padding: 0;
}

.modal-plan-list {
    list-style: none;
}

.modal-plan-item.current {
    border-bottom: 1px solid #ccc;
    color: #6e6e6e;
}

ul.structural > li {
    list-style: none;
    margin-left: 0;
}

.modal-plan-item {
    background: #f2f2f2;
    border-bottom: 1px solid transparent;
    margin: 0;
    padding: 1em 20px;
}

.modal-plan-header {
    font-size: 1em;
    margin: 0 0 .4em;
    font-weight: 400;
}

.modal-plan-header p {
    margin: 14px 0;
}

.modal-additional-info {
    padding: 15px 20px 0;
}

.modal-additional-info strong {
    font-weight: 700;
    padding-left: 4px;
}

.confirm-foot {
    margin-top: 0;
}

.btn-bar {
    text-align: center;
}

.btn-bar {
    box-sizing: border-box;
    padding: 1em 0;
    width: 100%;
}

.btn-bar .modal-action-button {
    min-height: 37px !important;
    min-width: 98px !important;
}