.watch-video {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.watch-video--player-view {
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: opacity;
}

.uma {
    background-color: rgba(0,0,0,.97);
}

/*.ltr-fntwn3.inactive, .ltr-fntwn3.passive {*/
/*    cursor: none;*/
/*}*/

.ltr-fntwn3 {
    inset: 0;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
}

.ltr-18tyyic {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: opacity 500ms linear 0s;
    pointer-events: auto;
    width: 100%;
    will-change: opacity;
}

.watch-video--evidence-overlay-container {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: relative;
    width: 100%;
}

.ltr-18tyyic video {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ltr-1qyrjck {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 12%;
    position: relative;
    user-select: none;
}

.medium .ltr-d2lqiv {
    font-size: 1.8rem;
    margin: 0 0 0 0.4rem;
}

.ltr-d2lqiv {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(204, 204, 204);
}

.medium .ltr-er2d3m {
    font-size: 5.4rem;
}

.ltr-er2d3m {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.medium .ltr-1i1gvl2 {
    font-size: 2.4rem;
    margin: 0.6rem 0 1.2rem;
}

.ltr-1i1gvl2 {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.medium .ltr-1i1gvl2 span + span {
    margin-left: 2rem;
}

.medium .ltr-13kxr7x {
    font-size: 1.8rem;
}

.ltr-13kxr7x {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(204, 204, 204);
    width: 60%;
    margin: 0;
}

.medium .ltr-1fk66sm {
    font-size: 1.8rem;
}

.ltr-1fk66sm {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(204, 204, 204);
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.ltr-1m81c36.visible {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

.ltr-1m81c36.hidden {
    display: none;
}


.ltr-gpipej {
    box-sizing: border-box;
    display: flex;
    min-height: 0px;
    min-width: 0px;
    position: relative;
}

.watch-video--bottom-controls-container {
    background-image: linear-gradient(0deg,rgba(0,0,0,.3) 0,transparent);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.ltr-1npqywr {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.watch-video--adsInfo-container, .watch-video--back-container, .watch-video--flag-container {
    background-image: linear-gradient(180deg,rgba(0,0,0,.3) 0,transparent 20%);
    box-sizing: border-box;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}

.ltr-1dcjcj4.medium {
    height: 5.2rem;
    width: 5.2rem;
}

.ltr-1dcjcj4 {
    position: relative;
    will-change: opacity;
}

.ltr-1enhvti {
    background-color: transparent;
    border-radius: 0.2rem;
    border: medium;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    position: relative;
    transition: transform 150ms ease 0s;
    will-change: height, width;
}

.ltr-iyulz3.control-medium {
    height: 4.4rem;
    width: 4.4rem;
}
.ltr-iyulz3 {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.ltr-iyulz3 svg {
    height: 100%;
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}

.ltr-1wnafyo {
    box-sizing: border-box;
    direction: ltr;
    height: 100%;
    margin: 0px;
    padding: 0px 2rem;
    pointer-events: auto;
    position: relative;
    width: 100%;
}

.ltr-100d0a9 {
    box-sizing: border-box;
    position: relative;
}

.ltr-lb3bic {
    box-sizing: border-box;
    display: flex;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    padding-left: .8rem;
    width: 9rem;
}

.ltr-13q34j2.medium {
    height: 2.25rem;
}

.ltr-13q34j2 {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    will-change: height;
}


.medium .ltr-lbmpgb {
    height: 0.375rem;
}

.ltr-lbmpgb {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    background-color: gray;
    transition: height 0.2s ease 0s;
    will-change: height;
}

.ltr-1i0opbk {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    top: 0px;
    background-color: lightgray;
    will-change: left, width;
}

.ltr-lxhdy4 {
    background-color: red;
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    will-change: transition, width;
}

.medium .ltr-1df5qmm {
    height: 1.5rem;
    width: 1.5rem;
}
.ltr-1df5qmm {
    background-color: red;
    border-radius: 100%;
    border: medium;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease 0s;
    will-change: height, left, width, transform, transition;
}

.ltr-1qtcbde {
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    line-height: 2rem;
}

.ltr-lapyk4 {
    box-sizing: border-box;
    display: flex;
    min-height: 0;
    min-width: 0;
    position: relative;
    flex-basis: 14rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
}

.ltr-4utd8f {
    box-sizing: border-box;
    display: flex;
    min-height: 0;
    min-width: 0;
    position: relative;
    flex-direction: column;
}

.ltr-m1ta4i.medium {
    font-size: 2rem;
}
.ltr-m1ta4i {
    direction: ltr;
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #fff;
}