.profile-dropdown {
  position: absolute;
  background-color: rgba(0,0,0,.9);
  opacity: 1;
  margin-left: 0;
  padding: 0;
  right: 0;
  top: 52px;
  width: 218px;
  border: 1px solid hsla(0,0%,100%, .15);
  color: #fff;
  cursor: default;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0 !important;
  z-index: 5;
  margin-top: 20px;
}

.profile-dropdown-profiles-container {
  height: auto;
  overflow: hidden;
  padding: 10px 0 5px;
  display: block;
  margin: 0;
  width: 100%;
  cursor: default;
}

.profile-dropdown-profiles-container li {
  line-height: 32px;
  display: block;
  font-size: 13px;
  padding: 5px 10px;
  cursor: default;
}

.profile-dropdown-profiles-container li div {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.profile-dropdown-profile-icon img {
  border-radius: 4px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
  border: 0;
}

.account-pulldown {
  padding-bottom: 10px;
  display: block;
  height: auto;
  margin: 0;
  width: 100%;
  cursor: default;
}

.account-pulldown li {
  display: block;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 10px;
}

.account-pulldown li a{
  align-items: center;
  display: flex;
  text-transform: none;
  width: 100%;
}

.account-pulldown svg {
  box-sizing: content-box;
  color: #b3b3b3;
  padding: 0 13px 0 5px;
  overflow: hidden;
}

.profile-dropdown a {
  color: white;
  display: flex;
  flex-direction: row;
}

.profile-dropdown a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: inherit;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 60px;
  list-style-type: none;
  border-bottom: none;
  z-index: 1;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.sign-in {
  align-items: center;
  line-height: 1;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 600;
  width: 77px;
  height: 32px;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
}

.sign-in:hover {
  background: rgb(182, 19, 25);
}

.signup-nav {
  border-bottom: 1px solid #e6e6e6;
  height: 90px;
  margin: 0;
  position: unset !important;
}

.signup-nav .browse-nav-profile {
  position: relative;
}

.signup-nav .nav-links {
  display: none ;
}

.splash-nav .nav-links {
  display: none;
}

.signup-nav button {
  color: #333;
  font-size: 19px;
  font-weight: 500;
  background-color: transparent;
}

.signup-nav button:hover {
  background-color: transparent;
  text-decoration: underline;
}

.dropDown-button {
  border-top: 1px solid hsla(0,0%,100%,.25);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0;
  width: 100%;
  font-size: 13px;
  line-height: 16px;

}

.dropDown-button button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.dropDown-button button:hover {
  text-decoration: underline;
}

.browse-nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  margin: 0;
  /*height: auto;*/
  min-height: 70px;
  z-index: 2;
  left: 0;
  right: 0;
  height: 68px;
  transition: background-color 0.3s ease;
  justify-content: unset;
}


.browse-nav.scrolled {
  background-color: rgb(11, 11, 11);
}

.browse-nav .logo {
  margin-right: 25px;
  /*padding-left: 4%;*/
  color: #e50914;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.browse-links {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  letter-spacing: 0 !important;
  font-size: 14px;
}

.browse-links li {
  display: block;
  margin-left: 20px;
}

.browse-links li a {
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  color: #e5e5e5;
  display: flex;
  height: 100%;
  position: relative;
  transition: color .4s;
}

.browse-links li a:hover {
  color: #b3b3b3;
}

.browse-nav-profile {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
  letter-spacing: 0 !important;
  font-size: 14px;
}

.browse-nav-profile li {
  display: flex;
  align-items: center;
}

.nav-links-search {
  margin-right: 15px;
}

.nav-profile-button {
  border-radius: 6px;
  border: none;
}

.nav-profile-button img{
  border-radius: 6px;
  height: 32px;
  vertical-align: middle;
  width: 32px;
  cursor: pointer;
}

.nav-profile-container {
  display: flex;
  align-items: center;
}

.caret {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(.21,0,.07,1);
  width: 0;
}

.browse-nav-profile-button:hover .caret {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.caret-dropdown{
  position: absolute;
  right: 30px;
  border-color: rgba(255, 255, 255, 0.7) transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0;
  height: 20px;
  margin-left: 10px;
  transition: transform 367ms cubic-bezier(.21,0,.07,1);
  width: 0;
  transform: translateY(-25px) rotate(180deg);
}

.nav-links-search.splash {
  display: none;
}

.page-not-found-nav {
  display: none;
}

.browse-links.account {
  display: none;
}

.nav-links-search.account {
  display: none;
}

.account {
  z-index: 10;
  background-color: rgba(0,0,0,.97);
  position: relative;
}

.splash {
  position: relative;
}

.logo a {
  text-decoration: none;
  color: #e50914;
}

.my-list {
  /*background-color: #141414;*/
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
  /*position: fixed;*/
}