.edit-profile {
    width: 100%;
    background: #141414;
    height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    height: auto;
    min-height: 70px;
    z-index: 1;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.edit-profile-container {
    position: static;
    background: #141414;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
}

.edit-profile-center {
    opacity: 1;
    transform: scale(1);
    position: initial;
    transition-duration: 450ms;
    transition-delay: 200ms;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-profile-wrapper {
    position: relative;
    text-align: left;
    font-size: .75vw;
}

.edit-profile-wrapper h1 {
    font-size: 4vw;
    margin: 0;
    font-weight: 400;
    text-align: left;
    color: #fff;
    cursor: default;
}
.profile-entry {
    display: flex;
    padding: 2em 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    text-align: left;
}

.profile-edit-icon-container {
    margin-right: 1.5vw;
    max-width: 180px;
    min-width: 80px;
    white-space: nowrap;
    width: 8vw;
    text-align: left;
}

.profile-edit-icon {
    position: relative;
}

.profile-edit-icon img {
    border-radius: 4px;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    height: 8vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    width: 8vw;
    animation-name: animateScale;
    animation-duration: 400ms;
}

.profile-edit-icon-button {
    border: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    bottom: 7%;
    cursor: pointer;
    left: 7%;
    position: absolute;
    width: 5%;
}

.profile-edit-icon-button svg {
    background-color: rgba(0,0,0,.7);
    border-radius: 5rem;
    filter: drop-shadow(1px 1px 2px #000);
    height: 1.8rem;
    max-height: 45px;
    max-width: 45px;
    width: 1.8rem;
    color: #fff;
    border: 1px solid transparent;
    margin: 0 -1px;
    overflow: visible;
    transform: scale(1);
}

.profile-edit-info {
    max-width: 500px;
}

.profile-edit-inputs {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
}

.profile-edit-inputs input {
    color: #fff;
    width: 100%;
    background: #666;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 1.3vw;
    height: 2em;
    text-indent: .1vw;
    margin: 0 .8em 18px 0;
    padding: .2em .6em;
}

.profile-edit-inputs input::placeholder {
    border: none;
    box-sizing: border-box;
    color: #ccc;
    font-size: 1.3vw;
    height: 2em;
    text-indent: .1vw;
}

.profile-edit-inputs input:focus {
    outline: none;
    border: none;
}

.game {
    margin-top: 24px;
}

.game h2 {
    font-size: 1.3vw;
    margin: 0 0 7px;
    color: rgb(204, 204, 204);
    font-weight: 400;
}

.game p {
    font-size: 1vw;
    color: #fff;
    margin: 17px 0
}

.profile-entry-restrictions {
    border-top: 1px solid #333;
    font-size: 1vw;
    margin: 1.5vw 0 0;
    padding: 1.5vw 0 0;
}

.profile-entry-restrictions h2 {
    color: #ccc;
    margin: 0 0 7px;
    font-size: 1.3vw;
    font-weight: 400;
}

.profile-maturity-label {
    background: #333;
    border-radius: 2px;
    font-weight: 500;
    margin: 16px 5px 16px 0;
    padding: 7px 10px;
    unicode-bidi: normal;
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: #fff;
}

.profile-entry-restrictions p {
    font-size: 1vw;
    color: #fff;
}

.profile-button {
    font-size: 1vw;
    margin: 2em 0 1em;
    display: inline-block;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    padding: .5em 1.5em;
    text-decoration: none;
}

.profile-button:hover {
    border-color: #fff;
    color: #fff;
}

.profile-button.end {
    margin-right: 20px;
}

.profile-button.save {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 500;
}

.profile-button.save:hover {
    background: #c00;
    border-color: #c00;
    color: #fff;
}

.profileIcon-header {
    /*background: hsla(0,0%,8%,.9);*/
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0 auto 1vw;
    max-width: 87vw;
    padding: 0 4vw 1vw;
    position: absolute;
    right: 0;
    top: 7vw;
    width: 100%;
    z-index: 3;
    text-align: center;
    color: #fff;
}

.left-header {
    align-items: center;
    display: flex;
    text-align: center;
}

.profileIcon-back-button {
    background: none;
    border: none;
    font-size: 2vw;
    padding: 0;
    fill: #fff;
    cursor: pointer;
}

.profileIcon-back-button svg{
    height: 100%;
    width: 150%;
}

.left-header-text {
    margin-left: 3vw;
    text-align: left;
}

.left-header-text h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

.left-header-text h2 {
    font-size: 2vw;
    font-weight: 500;
    white-space: nowrap;
}

.right-header {
    font-size: 2vw;
    align-items: center;
    display: flex;
    text-align: center;
}

.profileIcon-header-name {
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profileIcon-header-img {
    border-radius: 4px;
    height: 6vw;
    margin-left: 20px;
    max-height: 90px;
    max-width: 90px;
    min-height: 40px;
    min-width: 40px;
    width: 6vw;
    border: 0;
}

.profileIcon-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 9vw;
    overflow: hidden;
    overflow-y: hidden;
    /*overflow-y: scroll;*/
    padding: 7vw 0;
    width: 100%;
}

.profileIcon-container-carousels {
    list-style: none;
    margin: 0;
    max-height: 100%;
    padding: 0;
    width: 100%;
}

.profileIcon-row {
    margin-bottom: 4vw;
    display: inline-block;
    position: relative;
    vertical-align: top;
    list-style: none;
    text-align: center;
    color: #fff;
}

.row-header {
    font-size: 3vw;
    margin: 0 auto 1.5vw;
    max-width: 1310px;
    padding: 0;
    text-align: left;
    width: 87%;
    font-weight: 500;
}

.slider {
    padding: 0 4%;
    position: relative;
    touch-action: pan-y;
}

.profileIcon-container .slider {
    margin: 0 auto;
    max-width: 1320px;
    overflow: hidden;
    width: 94vw;
}

.slider .handlePrev {
    background: linear-gradient(90deg,#141414 0,hsla(0,0%,8%,.4));
}

.slider .handle {
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4%;
    z-index: 2;
}

.slider .handle.handlePrev {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    left: -2px;
}

.slider .handleNext {
    background: linear-gradient(270deg,#141414 0,hsla(0,0%,8%,.4));
}

.slider .handle.handleNext {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    right: 0;
}

.slider .handle.active {
    cursor: pointer;
}

.slider .sliderMask.showPeek {
    overflow-x: visible;
}

.slider .sliderMask {
    overflow-x: hidden;
    padding-bottom: 1px;
}

.sliderContent {
    display: flex;
}

.slider .sliderMask .sliderContent {
    white-space: nowrap;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
    padding-left: 0;
}

.slider .sliderMask .sliderContent .slider-item {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 .2vw;
    padding-left: 0.2vw;
    position: relative;
    vertical-align: top;
    white-space: normal;
    z-index: 1;
}

.lolopi-row-medium .lolopi-icon {
    height: 13.66vw;
    width: 13.66vw;
}

.lolopi-icon {
    align-items: center;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 10vw;
    margin: 0 .5vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 40px;
    min-width: 40px;
    position: relative;
    width: 10vw;
    cursor: pointer;
}

.lolopi-icon:hover {
    border: 2px solid #fff;
    border-radius: 4px;
}

.slider .handle.handleNext .indicator-icon {
    transform-origin: 45% 50%;
}

.slider .handle > .indicator-icon {
    align-self: center;
    display: none;
    font-size: 2.5vw;
    height: auto;
    transition: transform .1s ease-out 0s;
}

.slider:hover .handle > .indicator-icon {
    display: block;
    fill: #fff;
    font-weight: 500;
}

.slider .handle > .indicator-icon {
    font-size: 2.5vw;
}

.handleNext.active:hover .indicator-icon {
    height: 40px;
    width: 34px;
    transform: scale(1.25);
}

.edit-icon-center {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.profile-lolopi-confirm .lolopi-confirm-icons {
    align-items: center;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    margin: 1vw 0;
    padding: 3vw 0;
    display: flex;
    justify-content: center;
}

.profile-lolopi-confirm h1 {
    font-size: 2em;
    margin: .67em 0;
    font-weight: 500;
    color: #fff;
}

.lolopi-confirm-icons span {
    color: #fff;
}

.profile-lolopi-confirm .lolopi-icon {
    margin-bottom: 1em;
}

.lolopi-icon {
    align-items: center;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 10vw;
    margin: 0 .5vw;
    max-height: 200px;
    max-width: 200px;
    min-height: 40px;
    min-width: 40px;
    position: relative;
    width: 10vw;
}

.profile-lolopi-confirm .lolopi-confirm-buttons {
    display: flex;
    justify-content: center;
}

.indicator-icon.icon-rightCaret {
    align-items: center;
    fill: #fff;
    margin: 0 1vw 2vw;
}

.profile-lolopi-confirm .profile-button {
    margin: 2em .5em 1em;
}

.profile-button {
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    padding: .5em 1.5em;
}

.profile-button.preferred-action {
    background: #fff;
    border: 1px solid #fff;
    color: #000 !important;
    font-weight: 500;
}

.profile-button.preferred-action:hover {
    background: #c00;
    border: 1px solid #c00;
    color: #fff !important;
}

.profile-button.preferred-action span {
    font-weight: 500;
}