.login-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 483px;
    padding: 48px 0px 0px;
    color: black;
}

.login-container {
    flex: 1 1 0%;
    overflow: auto;
    width: 375px;
    margin: auto;
    flex-direction: column;
    padding-bottom: 60px;
}