.previewModal--container {
    background-color: transparent;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    z-index: 2;
    width: 385px;
}

.previewModal--wrapper * {
    box-sizing: inherit;
}

.previewModal--player_container {
    background-color: #000;
    cursor: pointer;
    position: relative;
}

.previewModal--player_container .videoMerchPlayer--boxart-wrapper {
    height: 100%;
    padding-top: 56.3925%;
    width: 100%;
}

.previewModal--player_container .previewModal--boxart {
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

video {
    display: inline-block;
}

.previewModal--container .previewModal--info {
    background-color: #181818;
    position: relative;
}

.ltr-xqhbvx {
    padding: 1em;
    cursor: pointer;
}

.previewModal--metadatAndControls.mini-modal {
    grid-template-columns: 100%;
}

.previewModal--metadatAndControls {
    background-color: #181818;
    display: grid;
    position: relative;
    width: 100%;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container > :not(.new-badge) {
    margin-bottom: .5em;
}

.buttonControls--container {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
    min-height: 2em;
    position: relative;
    z-index: 2;
}

.ltr-jewi6s::-moz-focus-inner {
    border: medium;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.previewModal--wrapper.has-smaller-buttons button:not(.hasLabel):not(.dropdown-toggle) {
    max-height: 3.5vw; /* Convert 42px to 4vw */
    max-width: 3.5vw;  /* Convert 42px to 4vw */
    min-height: 3vw; /* Convert 32px to 3vw */
    min-width: 3vw;
}

.previewModal--wrapper button.color-primary:not(.hasLabel) {
    background-color: #fff;
    border-width: 2px;
}

.ltr-jewi6s.hasIcon {
    padding-left: .8vw;
    padding-right: .8vw;
}

.ltr-jewi6s.hasIcon {
    padding-left: 1.4vw;
    padding-right: 1.4vw;
}

.ltr-jewi6s.color-primary {
    background-color: white;
    color: black;
}

.ltr-jewi6s {
    -moz-box-align: center;
    align-items: center;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -moz-box-pack: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 50%;
}

/*button {*/
/*    text-transform: none;*/
/*}*/

/*button {*/
/*    overflow: visible;*/
/*}*/

.ltr-1st24vv {
    line-height: 0;
}

.ltr-iyulz3.small {
    height: 1.8vw;
    width: 1.8vw;
}

.ltr-iyulz3 {
    -moz-box-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    -moz-box-pack: center;
}

.previewModal--wrapper.has-smaller-buttons button.color-primary:not(.hasLabel) svg, .previewModal--wrapper.has-smaller-buttons button.color-supplementary:not(.hasLabel) svg {
    width: auto;
}

.previewModal--wrapper button.color-primary:not(.hasLabel) svg {
    width: 2rem;
}

.ltr-iyulz3 svg {
    height: 100%;
    width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

.ltr-11vo9g5::-moz-focus-inner {
    border: medium;
}

.previewModal--wrapper button.color-supplementary:not(.hasLabel) {
    background-color: rgba(42,42,42,.6);
    border-color: hsla(0,0%,100%,.5);
    border-width: 2px;
}

.ltr-11vo9g5.round.color-supplementary {
    border: 1px solid rgba(255,255,255, 0.7);
    color: white;
}

.ltr-11vo9g5.hasIcon {
    padding-left: .8vw;
    padding-right: .8vw;
}

.ltr-11vo9g5.hasIcon {
    padding-left: 1.4vw;
    padding-right: 1.4vw;
}

.ltr-11vo9g5 {
    -moz-box-align: center;
    align-items: center;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -moz-box-pack: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 50%;
}

.ltr-179t5g5 {
    position: relative;
    z-index: 1;
}

.buttonControls--container > * {
    margin: .25rem;
}

.ltr-126oqy.round.color-supplementary {
    border: 1px solid rgba(255,255,255, 0.7);
    color: white;
}

.ltr-126oqy.hasIcon {
    padding-left: .8vw;
    padding-right: .8vw;
}

.ltr-126oqy.hasIcon {
    padding-left: 1.4vw;
    padding-right: 1.4vw;
}

.ltr-126oqy {
    -moz-box-align: center;
    align-items: center;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -moz-box-pack: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 50%;
}

.ltr-bjn8wh {
    position: relative;
}

.buttonControls--expand-button {
    margin-left: auto;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-info {
    margin: .8em 0;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container {
    display: flex;
    flex-wrap: wrap;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-custom-text, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-sims, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-synopsis, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-tags .evidence-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.evidence-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-custom-text .evidence-item, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-sims .evidence-item, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-synopsis .evidence-item, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-tags .evidence-list .evidence-item {
    display: flex;
    padding-right: .5vw;
}

.evidence-list .evidence-item {
    align-items: center;
    display: flex;
    padding-right: .5vw;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-custom-text .evidence-separator::before, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-sims .evidence-separator::before, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-synopsis .evidence-separator::before, .previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal--metadatAndControls-tags-container .evidence-tags .evidence-list .evidence-separator::before {
    color: #646464;
    content: "\2022";
    display: inline-block;
    padding-right: .5vw;
}

.evidence-list .evidence-separator::before {
    color: #646464;
    content: "\2022";
    display: inline-block;
    padding-right: .5vw;
}

.videoMetadata--container {
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.videoMetadata--container .videoMetadata--first-line {
    margin: .25em .5em .25em 0;
    max-width: 100%;
}

.videoMetadata--container .videoMetadata--second-line {
    align-items: center;
    color: #bcbcbc;
    display: flex;
    flex-wrap: wrap;
}

.match-score-wrapper .rating-inner {
    display: flex;
    transition: margin-right .55s cubic-bezier(.86,0,.07,1) 165s;
}

.match-score-wrapper .show-match-score .match-score {
    max-width: 300px;
    opacity: 1;
    transition: margin-right .55s cubic-bezier(.86,0,.07,1) 165s, opacity .15s linear 2.2s;
}

.videoMetadata--container .match-score {
    color: #46d369;
    white-space: unset;
}

.videoMetadata--container .videoMetadata--second-line > * {
    margin-right: .5em;
}

.maturity-rating {
    display: inline-block;
}

.maturity-rating .maturity-number {
    border: 1px solid hsla(0,0%,100%,.4);
    overflow: hidden;
    padding: 0 .4em;
    text-overflow: ellipsis;
    text-transform: uppercase;
    unicode-bidi: normal;
    white-space: nowrap;
}

.videoMetadata--container .videoMetadata--second-line .duration {
    white-space: nowrap;
}

.videoMetadata--container .videoMetadata--second-line > .player-feature-badge {
    margin-right: .715em;
}

.player-feature-badge {
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 3px;
    color: hsla(0,0%,100%,.9);
    font-size: .7em;
    padding: 0 .5em;
    white-space: nowrap;
}

@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
    .previewModal--metadatAndControls-info, .previewModal--metadatAndControls-tags-container {
        font-size: .1vw;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) and (max-aspect-ratio: 4 / 3) {
    .previewModal--metadatAndControls-info, .previewModal--metadatAndControls-tags-container {
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3) {
    .previewModal--metadatAndControls-info, .previewModal--metadatAndControls-tags-container {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4 / 3) {
    .previewModal--metadatAndControls-info, .previewModal--metadatAndControls-tags-container {
        font-size: 1.8vw;
    }
}


@media screen and (min-width: 1400px) {
    .previewModal--metadatAndControls-info, .previewModal--metadatAndControls-tags-container {
        font-size: 1vw;
    }
}