.profile-delete-warning {
    align-items: center;
    display: flex;
    text-align: initial;
    width: 25vw;
    font-size: 1.1vw;
    color: #fff;
}

.profile-name {
    color: grey;
    display: block;
    font-size: 1.3vw;
    line-height: 1.2em;
    margin: .6em 0;
    /*margin-bottom: 0.6em;*/
    /*min-height: 1.8em;*/
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.delete-profile {
    width: 100%;
    background: #141414;
    height: 100vh;
}

.delete-profile-container {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.header {
    position: sticky;
    top: 0;
    height: auto;
    min-height: 70px;
    z-index: 1;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.delete-profile-center {
    opacity: 1;
    transform: scale(1);
    position: initial;
    transition-duration: 450ms;
    transition-delay: 200ms;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-profile-wrapper {
    position: relative;
    text-align: left;
    font-size: .75vw;
}

.delete-profile-wrapper h1 {
    font-size: 4vw;
    margin: 0;
    font-weight: 400;
    text-align: left;
    color: #fff;
    cursor: default;
}

.profile-entry {
    display: flex;
    padding: 2em 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    text-align: left;
}

.profile-delete-icon-container {
    margin-right: 1.5vw;
    max-width: 180px;
    min-width: 80px;
    white-space: nowrap;
    width: 8vw;
    text-align: left;
}

.profile-delete-icon {
    position: relative;
}

.profile-delete-icon img {
    border-radius: 4px;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    height: 8vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    width: 8vw;
    animation-name: animateScale;
    animation-duration: 400ms;
}

.profile-button {
    font-size: 1vw;
    margin: 2em 0 1em;
    display: inline-block;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    padding: .5em 1.5em;
    text-decoration: none;
}

.profile-button:hover {
    border-color: #fff;
    color: #fff;
}

.profile-button.end {
    margin-right: 20px;
}

.profile-button.save {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 500;
}

.profile-button.save:hover {
    background: #c00;
    border-color: #c00;
    color: #fff;
}