.language-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
}

.language-container-header {
    position: fixed;
    height: 68px;
    align-items: center;
    display: flex;
    margin-top: 70px;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    background-color: #141414 !important;
    z-index: 2;
}

.language-wrapper-title {
    height: 68px;
    align-items: center;
    display: flex;
    padding: 0 3rem;
    white-space: nowrap;

}

.language-wrapper-title h1 {
    font-size: 2em;
    display: inline-block;
    line-height: 36px;
    margin-right: 20px;
    color: #fff;
    font-weight: 400;
}

.language-movies {
    margin-top: 138px;
    padding-top: 5rem;
    /*min-height: 1000px;*/
    overflow: hidden;
}

.language-dropdown-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0;
    min-height: 0;
    padding: 0;
    background-color: #141414 !important;
}

.language-dropdown-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
}

.language-dropdown-container span {
    font-size: 14px;
    margin-right: 1rem;
}

.languageDropDown-wrapper {
    align-items: center;
    display: flex;
    margin: 10px 0;
}

.language-dropdown {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    min-width: 240px;
    text-align: left;
    background-color: #000;
    border: 1px solid hsla(0,0%,100%,.9);
    border-radius: 0;
    color: #fff;
    font-size: .9rem;
    font-weight: 500;
    height: 1.8rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
    overflow-y: auto;
}

/*select::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/

.language-dropdown option {
    background-color: rgba(0,0,0,.9);
    border: 1px solid hsla(0,0%,100%,.15);
}


.languageDropDown-sort {
    float: right;
    font-size: 14px;
    text-align: right;
    align-items: center;
    display: flex;
}

.languageDropDown-sort span {
    margin-right: 10px;
    font-size: 14px;
}

option {
    opacity: 1;
    transition-duration: 150ms;
    min-width: 100%;
    white-space: nowrap;
    font-size: 14px;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    top: 2.5rem;
    z-index: 2;
}


.language-movie-container {
    font-size: calc(1.125vw);
    display: inline-block;
    min-height: 65px;
    width: 100%;
}

.language-movie-wrapper {
    margin: 10px 3rem;
    overflow: hidden;
    line-height: 1.6;
    display: grid;
    gap: 4vw 0;
    grid-template-columns: repeat(6, 1fr);
}

.ltr-1cjyscz:first-child {
    padding-left: 0;
}

.ltr-1cjyscz {
    padding: 0 0.2vw;
}

.title-card:not(.loadingTitle) {
    display: block;
}

.title-card {
    position: relative;
    z-index: 1;
}

.title-card .slider-refocus {
    display: block;
}

.boxart-size-16x9, .boxart-size-32x9 {
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.boxart-size-16x9 {
    padding: 28.125% 0;
}

.boxart-rounded {
    border-radius: .2vw;
}

.title-card .boxart-container img {
    cursor: pointer;
}

.boxart-image-in-padded-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

img {
    border: 0;
}

.boxart-rounded .fallback-text-container {
    border-radius: 4px;
}

.fallback-text-container {
    background-color: #222;
    background-image: linear-gradient(transparent,#000);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}

.fallback-text {
    bottom: 0;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: 500;
    left: 8%;
    margin: 0;
    overflow: hidden;
    padding: 0 0 10%;
    position: absolute;
    right: 8%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.language-movie {
    padding: 0 0.2vw;
}

.language-movie-img {
    width: 100%;
    height: 100%;
}

.poster {
    width: 100%;
    height: 100%;
}

@media (min-width: 1500px) {
    .language-movie-wrapper {
        margin: 10px 60px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {
    .language-movie-wrapper {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 4.5vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .language-movie-wrapper {
        grid-template-columns: repeat(4, 1fr);
        /*margin-left: 0;*/
        row-gap: 5.5vw;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .language-movie-wrapper {
        grid-template-columns: repeat(3, 1fr);
        /*margin-left: 0;*/
        row-gap: 7.5vw;
    }
}

@media screen and (max-width: 500px) {
    .language-movie-wrapper {
        grid-template-columns: repeat(2, 1fr);
        /*margin-left: 0;*/
        row-gap: 7.5vw;
    }
}